.Footer-bloc 
{
    height: 300px;
    margin-top: 5%;
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: center;
}

#logo-github 
{
    background-color: white;
    object-fit: cover;
}

.logo-github:hover, .logo-mail:hover, .logo-phone:hover
{
    border-color: rgb(168, 0, 0);
    transform: scale(1.1);
    cursor: pointer;
}

.footer-text
{
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 5%;
}

.footer-links
{
    display: flex;
    flex-direction: column;

    margin-top: 2%;
}



.logo-mail, .logo-github, .logo-phone
{
    display: flex;
    border-radius: 50%;
    object-fit: contain;
    height: 54px;
    width: 56px;
    margin-left: 10%;
    margin-bottom: 1%;
    border: solid;
    border-color: white;
    background-color: black;
}

.footer-circle 
{
    display: flex;
    flex-direction: row;
    gap: 13%;
}