.header
{
    display: flex;
}

.header-bloc
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;

    width: 100%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom: solid;

    background-color: black;
    border-color: white;
    border-width: 2px;
}

.nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 25%;
}

.nav-text 
{
    text-decoration: none;
    color: white;
    margin-top: 5%;
    margin-right: 10%;
}

.nav-text:hover
{
    color: rgb(192, 6, 6);
}

.Logo-small
{
    display: flex;
    border-radius: 50%;
    object-fit: cover;
    height: 64px;
    width: 64px;
    margin-left: 3%;
    margin-bottom: 1%;
}