.header
{
    display: flex;
    background-color: black;
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 100;
}


.header-bloc
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;

    width: 100%;
    height: inherit;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom: solid;

    background-color: black;
    border-width: 2px;
}

.header-bloc-scroll
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;

    width: 100%;
    height: inherit;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom: solid;

    background-color: black;
    background: url(https://t4.ftcdn.net/jpg/02/00/68/69/360_F_200686969_GJ7zbz2qaNIE4dyHSbZkQXvNPzRuwlr3.jpg);
    border-width: 2px;
}

.nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 50%;
}

.nav-text 
{
    text-decoration: none;
    color: white;
    margin-top: 5%;
    margin-right: 10%;
}

.nav-text-actif
{
    text-decoration: none;
    margin-top: 5%;
    margin-right: 10%;
    color: rgb(121, 0, 0);
}

.nav-text:hover
{
    color: rgb(192, 6, 6);
}

.Logo-small
{
    display: flex;
    border-radius: 50%;
    object-fit: cover;
    height: 64px;
    width: 64px;
    margin-left: 3%;
    margin-bottom: 1%;
}