.details-bloc
{
    display: flex;
    flex-direction: column;

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.bloc-title
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    gap: 38%;
}

.details-titre1, .details-titre2
{
    display: flex;
    flex-direction: row;
    width: 50%;
}


.details-desc
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.details-desc-txt
{
    text-align: center;
    margin-bottom: 5%;
}

.details-links
{
    display: flex;
    flex-direction: column;
}


a
{
    text-decoration: none;
}
.ilink
{
    font-size: 30px;
    padding-left: 35%;
    color: rgb(121, 0, 0);
}

.details-bloc-links
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 10%;
    margin-top: 5%;
}

.details-link-txt
{
    color: black;
}

.details-desc-titre1
{
    color: rgb(121, 0, 0);
}

.details-titre1, .details-titre2
{
    color: rgb(121, 0, 0);
}

.details-skills-tools
{
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 30%;
    width: 100%;
}

.details-skills, .details-tools
{
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Thème de l'alerte page 404 */

.alert
{
    background-color: rgb(255, 255, 255);
}

.swal-overlay {
    background-color: rgba(121, 0, 0, 0.327);
}

.swal-modal 
{
}

.swal-title 
{
    margin: 0px;
    box-shadow: 0px 1px 1px rgba(7, 7, 7, 0.21);
    color: rgb(121, 0, 0);
    font-weight: bold;
    margin-bottom: 28px;
}

.swal-text 
{
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
    color: #555555;
    font-weight: bold;
}

.swal-button 
{
    padding: 7px 19px;
    border-radius: 2px;
    background-color: rgb(121, 0, 0);
}

.swal-button:hover
{
    padding: 7px 19px;
    border-radius: 2px;
    background-color: rgb(121, 0, 0)!important;
    transform: scale(1.1);
}

.swal-icon
{
    color: rgb(121, 0, 0);
}
/* Thème de l'alerte page 404 */
