.projets-bloc
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 1300px;

}

.projets
{
    display: flex;
    flex-direction: column;
}

.projets-text 
{
    text-align: center;
    color: rgb(121, 0, 0);
    margin-top: 5%;
}

.projets-btns
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 3%;
}

.projets-all
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    background-image: url(https://t4.ftcdn.net/jpg/05/38/50/07/360_F_538500757_MRYUwTiPJG22xyCshZHYcdUTyVKywfgF.jpg);
    border-radius: 5%;
    background-size: auto;
    gap: 5%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    width: 80%;
}

.projets-item
{
    margin-top:3%;
    margin-bottom:3%;
}

.projets-item:hover
{
    transform:scale(1.5);
    cursor: pointer;
}

.img-projet
{
    height:400px;
    width: 100%;
}

#projets-btn
{
    width: 10%;
    height: 30px;

    background-color: rgb(255, 255, 255);;
    border: 1px solid;
    border-color: rgb(121, 0, 0);
    cursor: pointer;
    color: rgb(121, 0, 0);
}

#projets-btn:hover
{
    background-color: rgb(121, 0, 0);;
    cursor: pointer;
    color: white;
}