.Projets-bloc
{
    display: flex;
    height: 500px;
    width: 100%;

    justify-content: center;
    border-bottom: solid;
    border-top: solid;

    margin-top: 5%;
}


.img-projet
{
    height:400px;
}